<Configuration
  xmlns="http://logging.apache.org/log4j/2.0/config"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  status="OFF"
>
  <Properties>
    <!-- Eclipseでフォーマット改行させないためにCDATAセクションに -->
    <Property name="pattern"><![CDATA[%date{yyyy-MM-dd HH:mm:ss.SSS}\t%level\t[%mdc{userId}]\t[%mdc{logName}]\t%mdc{requestId}\t%c{2}\t%m%n]]></Property>
    <Property name="catalina_home">${env:CATALINA_HOME:-/usr/local/tomcat}</Property>
    <Property name="app_name">handywedge-report-service</Property>
    <Property name="log_level">${env:LOG_LEVEL:-info}</Property>
  </Properties>
  <Appenders>
    <RollingFile
      name="${app_name}"
      fileName="${catalina_home}/logs/${app_name}.log"
      filePattern="${catalina_home}/logs/archive/${app_name}_%d{yyyy-MM-dd}.gz"
    >
      <PatternLayout
        pattern="${pattern}"
        charset="UTF-8" />
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
    <RollingFile
      name="error"
      fileName="${catalina_home}/logs/${app_name}_error.log"
      filePattern="${catalina_home}/logs/archive/${app_name}_error_%d{yyyy-MM-dd}.gz"
    >
      <PatternLayout
        pattern="${pattern}"
        charset="UTF-8" />
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger
      name="com.handywedge"
      level="${log_level}"
    >
      <AppenderRef ref="${app_name}" />
      <AppenderRef
        ref="error"
        level="warn" />
    </Logger>
    <Root level="${log_level}">
    </Root>
  </Loggers>
</Configuration>