<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
  <Properties>
    <Property name="catalina_home">.</Property>
    <Property name="app_id">hw-cal</Property>
    <Property name="pattern">
      <![CDATA[%date{yyyy-MM-dd HH:mm:ss.SSS}\t[%-5p %t]\t[${app_id}]\t%mdc{requestId}\t%c{2}\t%m%n]]></Property>
  </Properties>
  <Appenders>
    <Console
        name="console"
        target="SYSTEM_OUT">
      <PatternLayout pattern="${pattern}"/>
    </Console>
    <RollingFile
        name="${app_id}"
        fileName="${catalina_home}/logs/${app_id}.log"
        filePattern="${catalina_home}/logs/archive/${app_id}_%d{yyyy-MM-dd}.gz">
      <PatternLayout
          pattern="${pattern}"
          charset="UTF-8"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
      </Policies>
    </RollingFile>
    <RollingFile
        name="debug"
        fileName="${catalina_home}/logs/${app_id}_error.log"
        filePattern="${catalina_home}/logs/archive/${app_id}_error_%d{yyyy-MM-dd}.gz">
      <PatternLayout
          pattern="${pattern}"
          charset="UTF-8"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger
        name="com.handywedge.calendar"
        level="debug">
      <AppenderRef ref="${app_id}"/>
      <!-- <AppenderRef ref="error" level="warn" /> -->
    </Logger>
    <Root level="debug">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>