<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
  <Properties>
    <!-- Eclipseでフォーマット改行させないためにCDATAセクションに -->
    <Property name="pattern"><![CDATA[%date{yyyy-MM-dd HH:mm:ss.SSS}\t%-5level\t%-9c{2}\t%m%n]]></Property>
    <Property name="app_id">handywedge-pdftosvg-rest</Property>
    <Property name="log_home">${env:CATALINA_HOME}/logs</Property>
  </Properties>
  <Appenders>
    <RollingFile
      name="${app_id}"
      fileName="${log_home}/${app_id}.log"
      filePattern="${log_home}/${app_id}_%d{yyyy-MM-dd}.gz"
    >
      <PatternLayout
        pattern="${pattern}"
        charset="UTF-8" />
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
    <RollingFile
      name="error"
      fileName="${log_home}/${app_id}_error.log"
      filePattern="${log_home}/${app_id}_error_%d{yyyy-MM-dd}.gz"
    >
      <PatternLayout
        pattern="${pattern}"
        charset="UTF-8" />
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="${app_id}" />
      <AppenderRef
        ref="error"
        level="warn" />
    </Root>
  </Loggers>
</Configuration>