.toolbox-element{
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
  z-index:2;
}

.toolbox-element .bar{
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #000000;
  background-color: white;
  box-sizing: border-box;
}
.toolbox-element input{
  width:90%;
}
.toolbox-element .content{
  pointer-events: auto;
  padding: 5px;
  -webkit-user-select: none;
  border-radius: 2px;
  border: 1px solid #000000;
  background-color: white;
  box-sizing: border-box;
}
.toolbox-element button{
  pointer-events: auto;
  cursor: pointer;
}

.status-element {
    position: absolute;
    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
    /*border-radius: 2px;
    border: 1px solid #000000;
    background-color: white;*/
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
}
.status-element .editable{
      visibility: hidden;
}

.status-element .delete {
  pointer-events: auto;
    position:absolute;
    top:-10px;
    color: red;
    border:none;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.status-element .status_name {
  border: none;
  color: #000000;
  padding: 5px;
  height: 16px;
  word-wrap: break-word;
　white-space: normal;
　display: block;
}
.status-element .status {
  position:absolute;
  width:80%;
  top:0%;
  text-align:center;
  color: #0000CC;
  text-shadow: 1px 0 0 lightgray;
  word-wrap: break-word;
　white-space: normal;
　display: block;
}

.editbox-element {
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
  /*box-shadow: inset 0 0 5px black, 2px 2px 1px gray;*/
  padding: 5px;
  z-index: 2;
}
.editbox-element .bar{
  width:100%;
  height:25px;
  background: #DED;
  border: 1px solid #EFE;
  box-sizing: border-box;
}
.editbox-element .content{
  width:100%;
  background: #DED;
  border: 1px solid #EFE;
  box-sizing: border-box;
}
.editbox-element input,
.editbox-element button {
      pointer-events: auto;
}
.editbox-element label {
    color: #333;
    text-shadow: 1px 0 0 lightgray;
    font-weight: bold;
}
.editbox-element input{
  height:25px;
  width:100%;
}
.linker-element{
  pointer-events: auto;
    position:absolute;
    color: blue;
    border:none;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
