<!DOCTYPE project>  
<Configuration status="off">

    <Properties>
        <Property name="format1">%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-6p %c{10} %m%n</Property>
        <Property name="logfile">/var/log/handywedge/openid-connect.log</Property>
        <Property name="logfile-archive">/var/log/handywedge/openid-connect_%d{yyyy-MM-dd}-%i.log</Property>
    </Properties>
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>${format1}</pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="logfile" append="true" fileName="${logfile}"
                             filePattern="${logfile-archive}">
            <PatternLayout>
                <pattern>${format1}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>
	
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" />
            <AppenderRef ref="logfile" />
        </Root>
    </Loggers>
</Configuration>