#tabbar{
  position:fixed;
  top:0px;
  left: 0%;
  width: 100%;
  background-color: white;
  height:22px;
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  z-index: 1024;
}
.tab{
  /*width: 100px;*/
  padding-left: 10px;
  padding-right:10px;
  height:25px;
  font-size:20px;
  background-color: lightgray;
  display:inline-block;
  text-align: center;
  cursor: pointer;
}
#headbar{
  position: fixed;
  top:25px;
  left: 0%;
  width: 100%;
  background-color: white;
  height:22px;
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  z-index: 1024;
}
.head_btn{
  /*width: 100px;*/
  padding-left: 10px;
  padding-right:10px;
  height:22px;
  font-size:20px;
  display:inline-block;
  text-align: center;
  cursor: pointer;
}

#paper{
  margin-bottom:22px;
  background-color:'lightgray';
}

#belowbar {
  position: fixed;
  bottom:-200px;
  left: 0%;
  width: 100%;
  height: 200px;
  font-size: 17px;
  background-color: #DDDDDD;
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  z-index: 1024;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
#belowbar.open {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.pull{
  background-color: white;
  height:22px;
  width:100%;
  position: absolute;
  top:-22px;
}

.pull_btn{
  /*width: 100px;*/
  padding-left: 10px;
  padding-right:10px;
  height:22px;
  font-size:20px;
  display:inline-block;
  text-align: center;
}
.pull_btn.selected{
  background: #DDDDDD;
}

.content_area{
  position: relative;
  overflow: hidden;
  margin-left:10px;
  height:200px;
}

/*モーダル*/

/*jointjs部分*/
#paper{
    overflow: hidden;
}
#paper svg {
    background: transparent;
}
#paper svg .link {
    z-index: 2;
}
.status-element {
    position: absolute;
    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
    border-radius: 2px;
    border: 1px solid #000000;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
}
.status-element .editable{
      visibility: hidden;
}
.status-element .unedittable{
      visibility: visible;
}

.status-element select,
.status-element input,
.status-element button {
    /* Enable interacting with inputs only. */
    pointer-events: auto;
}
.status-element .delete {
  pointer-events: auto;
    color: black;
    border:none;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.status-element .status_name {
    border: none;
    color: #000000;
    padding: 5px;
    height: 16px;
    word-wrap: break-word;
}
.status-element .status {
  position:absolute;
  text-align: right;
  width:50%;
  right:3px;
  color: #0000CC;
  text-shadow: 1px 0 0 lightgray;
}
.list_parent-element {
    position: absolute;
    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
    border-radius: 2px
    /*border: 1px solid #000000;*/
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
}
.list_parent-element .tab{
  border-bottom: 1px solid #000000;
}
