<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
  <property name="format" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>handywedge-calendar.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>handywedge-calendar-%d{yyyyMMdd_HH}.log</fileNamePattern>
      <maxHistory>3</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>${format}</pattern>
    </encoder>
  </appender>

  <logger name="com.handywedge.o365" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <logger name="io.swagger" level="WARN">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="DEBUG">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>
</configuration>